.class
.xml
/carDealership/target/
/carDealership/nbproject/
*.properties
*.properties
carDealership/src/main/resources/application.properties
carDealership/src/test/resources/application.properties
*.properties
