<!DOCTYPE html>
<html lang="en">
<head>
    <script src="js/home.js"></script>
    <link rel="stylesheet" href="../static/styles/home.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Car Dealership</title>

</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid" id="navbar">
        <div class="navbar-header">
            <img src="../images/navbarCar.jpg" alt="McQueen">
        </div>
        <ul class="nav navbar-nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">New Inventory</a></li>
            <li><a href="#">Used Inventory</a></li>
            <li><a href="#">Specials</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Sales</a></li>
            <li><a href="#">Admin</a></li>
        </ul>
    </div>
</nav>
<div class="jumbotron" id="jumbotron">
    <h1 id="headline">💲💲🤯 End of Course Sell 🤯💲💲</h1>
    <h2 id="headlineDescription">Check out this 🔥🔥 discount we got for <strong>YOU!</strong> Available until 10/1/2021!</h2>
    <a class="btn btn-primary btn-lg" href="#" role="button">Check it out!</a>
</div>

</body>
</html>