<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/styles/home.css">
    <title>Course Manager</title>
  </head>
  <body>
    <!-- Main Body of Page -->
    
    <!----NavBar Start----->
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
        <img src="./../images/navbarCar.jpg" alt="McQueen">
        <ul class="navbar-nav mr-auto">
            <li><a class="nav-link" href="#">Home</a></li>
            <li><a class="nav-link" href="#">New Inventory</a></li>
            <li><a class="nav-link" href="#">Used Inventory</a></li>
            <li><a class="nav-link" href="#">Specials</a></li>
            <li><a class="nav-link" href="#">Contact</a></li>
            <li><a class="nav-link" href="#">Sales</a></li>
            <li><a class="nav-link" href="#">Admin</a></li>

        </ul>
    </nav>
    <!----NavBar End----->
  
    <div class="container">
            <div class="col-5 m-3">
                    <span class="h3">Used Vehicles</span>
            </div>
    
            <div class="row m-4 border border-dark">
                
                <div class="m-5">
                    <form action="searchbox" method="POST">
                        <div class="form-group row">
                            <label for="name" class="col-0 col-form-label">
                                Quick Search</label>
                            <div class="col-3">
                                <input type="text" name="name" 
                                       id="name" class="form-control"/>
                            </div>
                            
                            
                         
                        <div class="form-group row">
                            <label for="minprice" class="col-2 col-form-label">
                                Price</label>
                            <div class="col-4">
                                <select id="teacher" name="teacherId" class="form-control" >
                                    <option th:each="teacher : ${teachers}" 
                                            th:value="${teacher.id}" 
                                            th:text="${teacher.firstName + ' ' 
                                                + teacher.lastName}">
                                        Min Price</option>
                                </select>
                            </div>
                            
                            <div class="col-4">
                                <select id="teacher" name="teacherId" class="form-control" >
                                    <option th:each="teacher : ${teachers}" 
                                            th:value="${teacher.id}" 
                                            th:text="${teacher.firstName + ' ' 
                                                + teacher.lastName}">
                                        Max Price</option>
                                </select>
                            </div>
                            
                        </div>
                               
                            
                        <div class="form-group row">
                            <label for="minprice" class="col-2 col-form-label">
                                Year</label>
                            <div class="col-4">
                                <select id="teacher" name="teacherId" class="form-control" >
                                    <option th:each="teacher : ${teachers}" 
                                            th:value="${teacher.id}" 
                                            th:text="${teacher.firstName + ' ' 
                                                + teacher.lastName}">
                                        Min Year</option>
                                </select>
                            </div>
                            
                            <div class="col-4">
                                <select id="teacher" name="teacherId" class="form-control" >
                                    <option th:each="teacher : ${teachers}" 
                                            th:value="${teacher.id}" 
                                            th:text="${teacher.firstName + ' ' 
                                                + teacher.lastName}">
                                        Max Year</option>
                                </select>
                            </div>
                            
                        </div>       
                            
                        </div>
                        
                        <button type="submit" class="btn btn-primary">Search</button>
                    </form>
                </div>
            </div>
    
        
        
        
        
        
            <div class="col-5 m-3">
                    <span class="h3">Search Results</span>
            </div>
            

        
        
            <div class="row m-4 border border-dark">
                <div class="col text-center m-3">
                    <table class="table table-striped">
                        <tbody>
                            <tr th:each="car : ${carsfiltered}">
                                <td>
                                    <div class="row">
                                        <div class="col-md-12 text-left">
                                            <div class="well"><div class="col-md-4" th:text="${car.year + ' ' car.make + ' ' + car.model}">year make model</div></div>
                                        </div>
                                    </div>     
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="well"><img src="../images/test.jpg" class="rounded float-left" alt="...">
                                                <br/>
                                                <br/>
                                                <br/>
                                                <br/>
                                                <br/>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="row m-4">
                                                <div class="col-md-4">
                                                    <div class="well">Body Style</div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="well">Interior</div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="well">Sale Price</div>
                                                </div>
                                            </div>
                                            <div class="row m-4">
                                                <div class="col-md-4">
                                                    <div class="well">Trans</div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="well">Mileage</div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="well">MSRP</div>
                                                </div>
                                            </div>
                                            <div class="row m-4">
                                                <div class="col-md-4">
                                                    <div class="well">Color</div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="well">Vin#</div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="well"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 text-right">
                                            <div class="well"><a href="#" th:href="@{/deleteCourse(id=${course.id})}">Edit</a></div>
                                        </div>
                                    </div>
                                    
                                </td>
                                
                                
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    </div>
            
            
    
    

    <!-- End main body -->
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="js/home.js"></script>
  </body>
</html>;