<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <!-- Additional CSS files here -->
  <link rel="stylesheet" href="./../styles/home.css">
  <title>Car Dealership Inventory Report</title>
</head>
<body>
<!----NavBar Start----->
<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
  <img src="/navbarCar.jpg" alt="McQueen">
  <ul class="navbar-nav mr-auto">
    <li><a class="nav-link" href="/">Home</a></li>
    <li><a class="nav-link" href="/inventory/new">New Inventory</a></li>
    <li><a class="nav-link" href="/inventory/used">Used Inventory</a></li>
    <li><a class="nav-link" href="/home/specials">Specials</a></li>
    <li><a class="nav-link" href="/home/contact">Contact</a></li>
    <li><a class="nav-link" href="/sales/index">Sales</a></li>
    <li><a class="nav-link" href="/admin">Admin</a></li>

  </ul>
</nav>
<!----NavBar End----->

<div style="margin: 30px">
  <h1>Inventory Report</h1>
  <br>
  <h3>New Vehicles</h3>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Year</th>
      <th>Make</th>
      <th>Model</th>
      <th>Vin</th>
      <th>Stock Value</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="newCar : ${newCars}">
      <td th:text="${newCar.makeYear}">Year</td>
      <td th:text="${newCar.make}">Make</td>
      <td th:text="${newCar.model}">Model</td>
      <td th:text="${newCar.vinNumber}">Vin</td>
      <td th:text="${newCar.msrp}">Stock Value</td>
    </tr>
    </tbody>
  </table>
  <br>
  <h3>Used Vehicles</h3>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Year</th>
      <th>Make</th>
      <th>Model</th>
      <th>Vin</th>
      <th>Stock Value</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="usedCar : ${usedCars}">
      <td th:text="${usedCar.makeYear}">Year</td>
      <td th:text="${usedCar.make}">Make</td>
      <td th:text="${usedCar.model}">Model</td>
      <td th:text="${usedCar.vinNumber}">Vin</td>
      <td th:text="${usedCar.msrp}">Stock Value</td>
    </tr>
    </tbody>
  </table>
</div>

</body>
</html>