<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./../styles/home.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Car Dealership</title>

</head>
<body>
<!----NavBar Start----->


<!----NavBar Start----->
<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
    <img src="/navbarCar.jpg" alt="McQueen">
    <ul class="navbar-nav mr-auto">
        <li><a class="nav-link" href="/">Home</a></li>
        <li><a class="nav-link" href="/inventory/new">New Inventory</a></li>
        <li><a class="nav-link" href="/inventory/used">Used Inventory</a></li>
        <li><a class="nav-link" href="/home/specials">Specials</a></li>
        <li><a class="nav-link" href="/home/contact">Contact</a></li>
        <li><a class="nav-link" href="/sales/index">Sales</a></li>
        <li><a class="nav-link" href="/admin">Admin</a></li>

    </ul>
</nav>
<!----NavBar End----->

    <div class="container">
            <div class="col-5 m-3">
                    <span class="h3"  th:text="${condition} +  ' ' + Vehicles">Used</span>
            </div>

                        <form action="inventoryNewSearch" method="POST">
                <div class="row col-md-12 m-3">
                    
                    
                            <label for="searchName" class="col-form-label col-md-1">
                                Quick Search</label>
                            <div class="col-md-2">
                                <input type="text" name="searchName" 
                                       id="searchName" class="form-control" th:value="${searchvalue}"/>
                            </div>
                    
                           
                            <label for="minprice" class="col-form-label">
                                Price($)</label>
                            <div class="col-2">
                                

                                
                                <select id="minprice" name="minprice" class="form-control" >
                                    <option th:each="minprice : ${minprices}"
                                            th:text="${minprice}"
                                            th:selected="${minprice==minpricevalue}">
                                        Min Price</option>
                                </select>
                            </div>
                            
                            <div class="col-2">
                                <select id="maxprice" name="maxprice" class="form-control" >
                                    <option 
                                        th:each="minprice : ${maxprices}"
                                        th:text="${minprice}"
                                        th:selected="${minprice==maxpricevalue}">
                                        Max Price</option>
                                </select>
                            </div>
                    
                    
                                     
                            <label for="minyear" class="col-form-label">
                                Year</label>
                            <div class="col-2">
                                <select id="minyear" name="minyear" class="form-control" >
                                    <option th:each="minprice : ${minyears}"
                                        th:text="${minprice}"
                                        th:selected="${minprice==maxyearvalue}">
                                        Min Year</option>
                                </select>
                            </div>
                            
                            <div class="col-2">
                                <select id="maxyear" name="maxyear" class="form-control" >
                                    <option th:each="minprice : ${maxyears}"
                                            th:text="${minprice}"
                                            th:selected="${minprice==minyearvalue}">
                                        Max Year</option>
                                </select>
                            </div>
                            
                            
                    
                            
                    
                    
                    

                </div>
                
                <div class="row col-md-2 offset-md-10">
                    
                    <div>
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                    
                </div>
            </form>






            <div class="col-5 m-3">
                    <span class="h3">Search Results</span>
            </div>
        
        
            <div class="row">
                <div class="col text-center m-3">
                    <table class="table table-striped col-md-12">
                        <tbody>
                        <tr th:each="car : ${carsfiltered}">
                            <td>
                                <div class="row">
                                    <div class="col-md-12 text-left">
                                        <div class="well">
                                            <div class="col-md-4"
                                                 th:text="${car.getMakeYear() + ' ' + car.getMake() + ' ' + car.getModel()}">
                                                year make model
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="well"><img th:src="@{${car.getPictureURL()}}" class="rounded float-left" alt="..." width="300" height="150">
                                            <br/>
                                            <br/>
                                            <br/>
                                            <br/>
                                            <br/>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="row m-4">
                                            <div class="col-md-4">
                                                <div class="well text-right">Body Style: <span
                                                        th:text="${car.getBodyStyle()}">test</span></div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="well text-right">Interior: <span
                                                        th:text="${car.getInteriorColor()}">test</span></div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="well text-right">Sale Price: <span
                                                        th:text="${car.getSalesPrice()}">test</span></div>
                                            </div>
                                        </div>
                                        <div class="row m-4">
                                            <div class="col-md-4">
                                                <div class="well text-right">Trans: <span th:text="${car.getTrans()}">test</span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="well text-right">Mileage: <span
                                                        th:text="${car.getMileage()}">test</span></div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="well text-right">MSRP: <span
                                                        th:text="${car.getMsrp()}">test</span></div>
                                            </div>
                                        </div>
                                        <div class="row m-4">
                                            <div class="col-md-4">
                                                <div class="well text-right">Color: <span th:text="${car.getColor()}">test</span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="well text-right">Vin#: <span
                                                        th:text="${car.getVinNumber()}">test</span></div>

                                            </div>


                                            <div class="col-md-4">
                                                <div class="well text-right"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 text-right">
                                        <div class="well"><a href="#" th:href="@{/inventory/details(id=${car.getId()})}">Details</a>
                                        </div>
                                    </div>

                                 
                                </div>

                            </td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            


    </div>







</body>
</html>