<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Company Contacts</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- Additional CSS files here -->

  </head>
  <body> <!-- next to the button need a hidden label that holds the id -->
      
      
      <!----NavBar Start----->


    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
        <img src="/navbarCar.jpg" alt="McQueen">
        <ul class="navbar-nav mr-auto">
            <li><a class="nav-link" href="/">Home</a></li>
            <li><a class="nav-link" href="/inventory/new">New Inventory</a></li>
            <li><a class="nav-link" href="/inventory/used">Used Inventory</a></li>
            <li><a class="nav-link" href="/home/specials">Specials</a></li>
            <li><a class="nav-link" href="/home/contact">Contact</a></li>
            <li><a class="nav-link" href="/sales/index">Sales</a></li>
            <li><a class="nav-link" href="/admin">Admin</a></li>

        </ul>
    </nav>
    <!----NavBar End----->
    
    <div>
        
        <div class="row">
                                        <div class="col-md-12 text-left">
                                            <div class="well"><div class="col-md-4"><label th:text="${car.makeYear}"/><label> / </label><label th:text="${car.make}"/><label> / </label><label th:text="${car.model}"/></div></div>
                                        </div>
                                    </div>     
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="well"><img th:src=${car.pictureURL} class="rounded float-left" alt="...">
                                                <br/>
                                                <br/>
                                                <br/>
                                                <br/>
                                                <br/>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="row m-4">
                                                <div class="col-md-4">
                                                    <div class="well">Body Style<label th:text="${car.bodyStyle}"/></div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="well">Interior<label th:text="${car.interiorColor}"/></div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="well">Sale Price<label th:text="${car.salesPrice}"/></div>
                                                </div>
                                            </div>
                                            <div class="row m-4">
                                                <div class="col-md-4">
                                                    <div class="well">Trans<label th:text="${car.trans}"/></div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="well">Mileage<label th:text="${car.mileage}"/></div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="well">MSRP<label th:text="${car.msrp}"/></div>
                                                </div>
                                            </div>
                                            <div class="row m-4">
                                                <div class="col-md-4">
                                                    <div class="well">Color<label th:text="${car.color}"/></div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="well">Vin#<label th:text="${car.vinNumber}"/>
                                                            </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="well"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
        
        
    </div>
    
    
    <div class = "row m-4 form-group">
    <h1>Sales Information</h1>
    </div>
    
    <div class = "form-group row m-4">
        <label for="Name" class="col-4 col-form-label">
            Name
        </label>
                
        <label for="Phone" class="col-8 col-form-label">
            Phone
        </label>
    </div>
    
    <div class = "form-group row m-4"> <!-- Name and Phone inputs -->
        <div class="col-4">
            <input type ="text" name ="Name" id ="AddName" class ="form-control"/>
        </div> 
        <div class="col-8">
            <input type ="text" name ="Phone" id ="AddPhone" class ="form-control"/>
        </div>
    </div>
    
    <div class = "row m-4 form-group">
        <label for="Email" class="col-4 col-form-label">
            Email
        </label>
    </div>
    
    <div class = "row m-4 form-group">
        <input type ="email" name ="Email" id ="AddEmail" class ="form-control" />
    </div>
        
    <div class = "row m-4 form-group">
        <label for="Street1" class="col-4 col-form-label">
            Street 1
        </label>
        <input type ="text" name ="Street1" id ="AddStreet1" class ="form-control"/>

        <label for="Street2" class="col-8 col-form-label">
           Street2
        </label>
        <input type ="text" name ="Street2" id ="AddStreet2" class ="form-control"/>
    </div>

        <div class = "row m-4 form-group">
        <label for="City" class="col-4 col-form-label">
            City
        </label>
        <input type ="text" name ="City" id ="AddCity" class ="form-control"/>
    
    <select class ="m-8">
        <option value="AL">Alabama</option>
        <option value="AK">Alaska</option>
        <option value="AZ">Arizona</option>
        <option value="AR">Arkansas</option>
        <option value="CA">California</option>
        <option value="CO">Colorado</option>
        <option value="CT">Connecticut</option>
        <option value="DE">Delaware</option>
        <option value="DC">District Of Columbia</option>
        <option value="FL">Florida</option>
        <option value="GA">Georgia</option>
        <option value="HI">Hawaii</option>
        <option value="ID">Idaho</option>
        <option value="IL">Illinois</option>
        <option value="IN">Indiana</option>
        <option value="IA">Iowa</option>
        <option value="KS">Kansas</option>
        <option value="KY">Kentucky</option>
        <option value="LA">Louisiana</option>
        <option value="ME">Maine</option>
        <option value="MD">Maryland</option>
        <option value="MA">Massachusetts</option>
        <option value="MI">Michigan</option>
        <option value="MN">Minnesota</option>
        <option value="MS">Mississippi</option>
        <option value="MO">Missouri</option>
        <option value="MT">Montana</option>
        <option value="NE">Nebraska</option>
        <option value="NV">Nevada</option>
        <option value="NH">New Hampshire</option>
        <option value="NJ">New Jersey</option>
        <option value="NM">New Mexico</option>
        <option value="NY">New York</option>
        <option value="NC">North Carolina</option>
        <option value="ND">North Dakota</option>
        <option value="OH">Ohio</option>
        <option value="OK">Oklahoma</option>
        <option value="OR">Oregon</option>
        <option value="PA">Pennsylvania</option>
        <option value="RI">Rhode Island</option>
        <option value="SC">South Carolina</option>
        <option value="SD">South Dakota</option>
        <option value="TN">Tennessee</option>
        <option value="TX">Texas</option>
        <option value="UT">Utah</option>
        <option value="VT">Vermont</option>
        <option value="VA">Virginia</option>
        <option value="WA">Washington</option>
        <option value="WV">West Virginia</option>
        <option value="WI">Wisconsin</option>
        <option value="WY">Wyoming</option>
    </select>	
    </div>
    
    <div class = "row m-4 form-group">
        <label for="Zipcode" class="col-4 col-form-label">
            Zip
        </label>
        <input type ="text" name ="Zipcode" id ="AddZipcode" class ="form-control"/>
    </div>
    
    <hr size="1" width="100%" color="grey"> <!-- line break -->
    
    
    <div class = "row m-4 form-group">
        <label for="pPrice" class="col-4 col-form-label">
            Purchase Price
        </label>
        <input type ="text" name ="pPrice" id ="AddpPrice" class ="form-control"/>
        
        <label for="pPrice" class="col-8 col-form-label">
            Purchase Type
        </label>
        <select class ="m-8">
             <option value="BF">Bank Finance</option>
             <option value="CA">Cash</option>
             <option value="DF">Dealer Finance</option>
        </select>	
    </div> 
    
    
      
      
    
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- use the the full jQuery build, NOT the slim build-->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
      
    <!-- custom js files -->
    <!-- <script src="specials.js"></script> -->
    <!---GitHub\carDealership\CarDealership\carDealership\src\main\resources\static\scripts -->

    </body>
</html>