<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./../styles/home.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Car Dealership</title>

</head>
<body>
<!----NavBar Start----->


<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
    <img src="/navbarCar.jpg" alt="McQueen">
    <ul class="navbar-nav mr-auto">
        <li><a class="nav-link" href="/">Home</a></li>
        <li><a class="nav-link" href="/inventory/new">New Inventory</a></li>
        <li><a class="nav-link" href="/inventory/used">Used Inventory</a></li>
        <li><a class="nav-link" href="/home/specials">Specials</a></li>
        <li><a class="nav-link" href="/home/specials">Contact</a></li>
        <li><a class="nav-link" href="/sales/index">Sales</a></li>
        <li><a class="nav-link" href="/admin">Admin</a></li>

    </ul>
</nav>
    <!----NavBar End----->
  
    <div class="container">
            
    
            <div class="row m-4 border border-dark">
                
                <div class="m-5">
                    <form action="searchbox" method="POST">
                        <div class="form-group row">
                            <label for="searchName" class="col-0 col-form-label">
                                Quick Search</label>
                            <div class="col-3">
                                <input type="text" name="searchName" 
                                       id="searchName" class="form-control"/>
                            </div>
                            
                            
                         
                        <div class="form-group row">
                            <label for="minprice" class="col-2 col-form-label">
                                Price</label>
                            <div class="col-4">
                                <select id="teacher" name="teacherId" class="form-control" >
                                    <option th:each="teacher : ${teachers}" 
                                            th:value="${teacher.id}" 
                                            th:text="${teacher.firstName + ' ' 
                                                + teacher.lastName}">
                                        Min Price</option>
                                </select>
                            </div>
                            
                            <div class="col-4">
                                <select id="teacher" name="teacherId" class="form-control" >
                                    <option th:each="teacher : ${teachers}" 
                                            th:value="${teacher.id}" 
                                            th:text="${teacher.firstName + ' ' 
                                                + teacher.lastName}">
                                        Max Price</option>
                                </select>
                            </div>
                            
                        </div>
                               
                            
                        <div class="form-group row">
                            <label for="minprice" class="col-2 col-form-label">
                                Year</label>
                            <div class="col-4">
                                <select id="teacher" name="teacherId" class="form-control" >
                                    <option th:each="teacher : ${teachers}" 
                                            th:value="${teacher.id}" 
                                            th:text="${teacher.firstName + ' ' 
                                                + teacher.lastName}">
                                        Min Year</option>
                                </select>
                            </div>
                            
                            <div class="col-4">
                                <select id="teacher" name="teacherId" class="form-control" >
                                    <option th:each="teacher : ${teachers}" 
                                            th:value="${teacher.id}" 
                                            th:text="${teacher.firstName + ' ' 
                                                + teacher.lastName}">
                                        Max Year</option>
                                </select>
                            </div>
                            
                        </div>       
                            
                        </div>
                        
                        <button type="submit" class="btn btn-primary">Search</button>
                    </form>
                </div>
            </div>
    
        
        
        
        
        
            <div class="col-5 m-3">
                    <span class="h3">Search Results</span>
            </div>
            

        
        
            <div class="row m-4 border border-dark">
                <div class="col text-center m-3">
                    <table class="table table-striped">
                        <tbody>
                            <tr th:each="car : ${cars}">
                                <td>
                                    <div class="row">
                                        <div class="col-md-12 text-left">
                                            <div class="well"><div class="col-md-4"><label th:text="${car.makeYear}"/><label> / </label><label th:text="${car.make}"/><label> / </label><label th:text="${car.model}"/></div></div>
                                        </div>
                                    </div>     
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="well"><img th:src=${car.pictureURL} class="rounded float-left" alt="...">
                                                <br/>
                                                <br/>
                                                <br/>
                                                <br/>
                                                <br/>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="row m-4">
                                                <div class="col-md-4">
                                                    <div class="well">Body Style<label th:text="${car.bodyStyle}"/></div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="well">Interior<label th:text="${car.interiorColor}"/></div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="well">Sale Price<label th:text="${car.salesPrice}"/></div>
                                                </div>
                                            </div>
                                            <div class="row m-4">
                                                <div class="col-md-4">
                                                    <div class="well">Trans<label th:text="${car.trans}"/></div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="well">Mileage<label th:text="${car.mileage}"/></div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="well">MSRP<label th:text="${car.msrp}"/></div>
                                                </div>
                                            </div>
                                            <div class="row m-4">
                                                <div class="col-md-4">
                                                    <div class="well">Color<label th:text="${car.color}"/></div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="well">Vin#<label th:text="${car.vinNumber}"/>
                                                            </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="well"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                        <div>
                                            <a href="#" th:href="@{/sales/purchase(id=${car.getId()})}">PURCHASE</a>
                                        </div>
                                
                                    
                                </td>
                                
                                
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    </div>
            
            





</body>
</html>