
#navbar {
    background-color: white;
}

#navbar a {
    margin-left: 35px;
    color: black;
    font-family: Bradley Hand, cursive;
}

/*---------------Jumbo Section Start-------------*/
#jumbotron {
    width: 95%;
    margin: auto;
    background-image: url("../jumboBackground.jpg");
    background-size: cover;
    text-align: center;
    transition: transform .3s;
    font-family: URW Chancery L, cursive;
    color: black;
}

#jumbotron:hover {
    transform: scale(1.1);
}

#jumbotron h2 {
    padding: 25px;
}

#jumbotron a {
    background-color: red;
}

#jumbotron a:hover {
    background: green;
}

/*---------------Jumbo Section End-------------*/

#featured {
    width: 95%;
    text-align: center;
    margin: auto;
    font-family: Andale Mono, monospace;
}

#featuredHeadline{
    margin-top: 25px;
    margin-bottom: 25px;
}
.parentBox {
    display: flex;
    flex-wrap: wrap;
}

.smallBox {
    flex: 1 0 21%; /* So it makes 4 boxes per line (21*4=84), will never make the 5th box (needs 100)*/
    margin: 15px;
    height: 200px;
    transition: transform .3s;
}

.smallBox:hover {
    transform: scale(1.05);
}